
CommandProcessor/.vs/CommandProcessor/v16/.suo
*.db
TomTomCodingTest/.vs/TomTomCodingTest/v16/.suo
*.sqlite
TomTomCodingTest/.vs/TomTomCodingTest/v16/.suo
TomTomCodingTest/.vs/ProjectSettings.json
TomTomCodingTest/.vs/TomTomCodingTest/v16/.suo
TomTomCodingTest/.vs/VSWorkspaceState.json
